<div class="container">
  <div class="col-md-6 offset-col-md-6 mx-auto">
  <h2 class="font-jp mt-3 mb-3">ゲーム追加リクエスト <i class="fa-solid fa-mobile-screen-button"></i></h2>
  <p class="font-jp">サイトへのご協力ありがとうございます。
  <br>追加したいゲームタイトルと詳細を教えてください。
  <br>リクエスト承認後、ゲーム一覧に追加させていただきます。
  <%= render 'requests/request' %>
  </div>
</div>