<main>
  <div class="jumbotron about-bg">
    <div class="container text-center about-h">
        <h1 class="about-top">ゲーム探しを、スマートに</h1>
        <p></p>
        <p class="about-text">このサイトは<strong>スマホゲーム専用のレビューサイト</strong>です。<br>
        スマホゲーム好きのために以下の三つの機能に特化して設計されています。
        <br>楽しんでお使いください。
        </p>
    </div>
    <div class="container text-center about-c">
      <div class="row">
        <div class="col-md-4">
          <div class="card about-review m-3">
            <h2 class="card-title p-3">Review</h2>
            <p class="card-text p-3">スマホゲームを項目別に評価しよう。</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card about-share m-3">
            <h2 class="card-title p-3">Share</h2>
            <p class="card-text p-3">お気に入りのゲームを他のユーザーに広めよう。</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card about-discover m-3">
            <h2 class="card-title p-3">Discover</h2>
            <p class="card-text p-3">楽しいゲームを見つけよう。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>