<main class=log-bg>
<div class="jumbotron top-bg text-center">
  <div class="container h-top">
    <div class="row">
      <div class="mx-auto col-lg-6 col-lg-offset-3">
        <p class="top-p"><strong>スマホゲーム専用のレビューサイト</strong> <i class="fas fa-mobile-screen-button"></i></p>
        <h1>
          <strong class="heading"><span class="heading-font">S</span>mart <span class="heading-font">G</span>amars</strong>
        </h1>
      </div>
    </div>
  </div>
  <div class="container h-btn">
    <div class="row">
      <div class="mx-auto col-lg-6 col-lg-offset-3">
        <div class="btn-wrapper col-11 col-md-10 mx-auto">
          <div class="d-grid gap-2 col-11 col-md-10 mx-auto">
            <div class="log-custom">
              <a class="btn btn-outline-light btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
              <a class="btn btn-outline-light btn-block sign_up" href="/users/sign_up">Sign up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</main>