// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-group {
  border: solid 1px #e4e3db;
  padding: 5px;
}

.form-group label {
  background-color: #e4e3db;
  padding: 3px 8px;
  width: 100%;
}

.fa-mobile-screen-button {
  color: #c5001a;
  font-size: 35px;
}
